html,
body {
    background-color: darkgray;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: aliceblue;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.add {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inputContainer {
    text-align: center;
}

#taskInput {
    border-radius: 20px;
    border: none;
    height: 5vh;
    width: 35vw;
    caret-color: transparent;
    padding: 0 1vw;
}

button {
    background-color: transparent;
    border-radius: 20px;
    border-color: aliceblue;
    border-style: solid;
    padding: 10px 20px;
    color: aliceblue;
    font-size: 18px;
    transition: all 0.5s ease;
}

button:hover {
    background-color: aliceblue;
    border-color: aliceblue;
    color: darkgray;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: 6vw;
    text-align: center;
    font-weight: 500;
    margin: 4vw 0;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1vh;
    font-size: 1.5vw;
}

.itemName {
    margin: 0;
    max-width: 29vw;
    word-wrap: break-word;
}

.itemIcons {
    display: flex;
    justify-content: flex-end;
    padding-left: 1vw;
}

.itemIcons button {
    margin-left: 0.3vw;
}

.itemContainer {
    padding: 2vh 0;
    max-width: 900px;
}

@media only screen and (min-width: 2560px) {
    #taskInput {
        border-radius: 50px;
        height: 100px;
        width: 1500px;
        padding: 0 10px;
        font-size: 35px;
    }

    button {
        background-color: transparent;
        border-radius: 60px;
        border-color: aliceblue;
        border-style: solid;
        border-width: 7px;
        padding: 30px 80px;
        color: aliceblue;
        font-size: 50px;
        transition: all 0.5s ease;
    }

    .title {
        font-size: 200px;
    }

    .itemName {
        font-size: 70px;
        max-width: 1100px;
    }
    .itemContainer {
        padding: 2vh 0;
        max-width: none;
    }
}

@media only screen and (max-width: 1024px) {
    .title {
        font-size: 6vw;
        font-weight: 500;
        margin: 4vw 0;
    }

    #taskInput {
        border-radius: 20px;
        border: none;
        height: 5vh;
        width: 78vw;
        caret-color: transparent;
        padding: 0 10px;
        margin-bottom: 10px;
    }

    .inputContainer button {
        width: 80vw;
        margin-bottom: 10px;
    }

    button {
        border-radius: 20px;
        padding: 5px 10px;
        font-size: 3vw;
        border-width: 4px;
    }

    .item {
        margin-bottom: 20px;
        font-size: 30px;
    }

    .itemName {
        margin: 0;
        max-width: 57vw;
    }

    .itemIcons {
        width: 20vw;
        padding-left: 0.5vw;
        flex-direction: column;
    }

    .itemIcons button {
        margin-left: 0vw;
        margin-bottom: 15px;
    }

    .itemContainer {
        padding: 2vh 0;
        width: 80vw;
    }
}


@media only screen and (max-width: 768px) {
    .title {
        font-size: 50px;
    }
    .item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0;
        font-size: 5vw;
    }
    button {
        padding: 10px 20px;
        font-size: 20px;
    }

    #taskInput {
        font-size: 15px;
        height: 50px;
        width: 80%;
        padding: 2px 15px;
    }

    .itemName {
        padding: 1vh 0;
        max-width: 80vw;
        font-size: 20px;
    }

    .itemIcons {
        width: 100vw;
        padding-left: 0.5vw;
        flex-direction: row;
        justify-content: center;
    }

    .itemIcons button {
        margin: 1vh 0 1vh 1vh;
        width: 40vw;
    }
}