html, body{
    background-color: darkgray;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color:aliceblue;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}

.add{
    justify-content: center;
    align-items: center;
    flex-direction: column;  
}

.inputContainer{
    text-align: center;
}

#taskInput{
    border-radius: 20px;
    border: none;
    height: 5vh;
    width: 30vw;
    caret-color: transparent;
    padding: 0 1vh;
}
button{
    background-color: transparent;
    border-radius: 20px;
    border-color: aliceblue;
    border-style: solid;
    height: 5vh;
    width: 10vw;
    color:aliceblue;
    font-size: 18px;

}
button:hover{
    background-color: aliceblue;
    border-color: aliceblue;
    color:darkgray;

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
}

.title{
    font-size: 6vw;
    text-align: center;
    font-weight: 500;
    margin: 4vw 0;
}

.item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1vh;
    font-size: 1.5vw;
}

.itemName {
    margin: 0;
    max-width: 27vw;
    word-wrap: break-word;
}
.itemIcons{
    width: 10vw;
    display: flex;
    justify-content: flex-end;
    padding-left: 1vw;
}
.itemIcons button{
    margin-left: 0.3vw;
}
.itemContainer{
    padding: 2vh 0;
    width: 40vw;
}